<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template/principal">
	<head>
	<title>Clientes</title>
	
		
	</head>
<body>
	<section layout:fragment="content">
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Locadora</h1>
				<div class="panel panel-default">
					
					<div class="alert alert-success" th:if="${!#strings.isEmpty(removido)}">
							<button type="button" class="close" data-dismiss="alert"></button>
							<span th:text="${removido}">Removido</span>
					</div>
					
					<div class="alert alert-success" th:if="${!#strings.isEmpty(sucesso)}">
							<button type="button" class="close" data-dismiss="alert"></button>
							<span th:text="${sucesso}">Cadastrado</span>
					</div>
					
					<div class="alert alert-success" th:if="${!#strings.isEmpty(status)}">
							<button type="button" class="close" data-dismiss="alert"></button>
							<span th:text="${status}" >Status Cliente</span>
					</div>
					<div class="panel-heading">
						<div class="clearfix">
							<h5 class="link-panel "><strong> Clientes</strong></h5>
				   		</div>
				   	</div>
									   	
					<div class="panel-body">
						<!-- Pesquisa Cliente -->
						<form method="GET" class="form-horizontal" th:action="@{/clientes}" th:object="${filtro}">
							<div class="form-group">
								<div class="col-sm4">
									<div class="input-group">
										<input class="form-control" style="margin-left: 10px;" placeholder="Informe o nome do cliente"
												autofocus="autofocus" th:field="*{nome}"></input>
										
										<span class="input-group-btn">
											<button type="submit" class="btn btn-pesquisa">
												<i class="glyphicon glyphicon-search"></i>
											</button>
										</span>
									</div>
								</div>
							</div>
						</form>
						<div class="table-responsive">
							<table
								class="table table-sm table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th>Nome</th>
										<th>E-mail</th>
										<th>Telefone</th>
										<th>CPF</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="cliente : ${clientes}">
										<td th:text="${clientes.nome}"></td>
										<td th:text="${clientes.email}"></td>
										<td th:text="${clientes.telefone}"></td>
										<td th:text="${clientes.cpf}"></td>
										<td class="col-md-3" align="center">
											<div class="btn-group center-block">
												<a class="btn btn-xs btn-primary" 
													th:href="@{/edit/{id}(id=${cliente.id})}">Editar</a> 
													
												<a class="delete btn btn-xs btn-danger" data-toggle="modal" data-target="#exclusaoCliente"
													th:attr="data-id=${cliente.id}, data-nome=${cliente.nome}" >Excluir</a>
												
											</div>
										</td>
									</tr>
								
									<tr>
										<td colspan="6" th:if="${#lists.isEmpty(clientes)}">Nenhum cliente cadastrado!</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div>
						<div th:include="template/modalExclusaoCliente"></div>
					</div>
					<div class="panel-footer">
						<a class="btn btn-sm btn-success" th:href="@{/addCliente/}">Adicionar</a>
					</div>
				</div>
			</div>
			
	</section>
</body>
</html>